@theme {
  --font-zentry: zentry, sans-serif;
  --font-circular-web: circular-web, sans-serif;
  --font-general: general, sans-serif;
  --font-robert-medium: robert-medium, sans-serif;
  --font-robert-regular: robert-regular, sans-serif;

   --color-blue-50: #dfdff0;
   --color-blue-75: #dfdff2;
   --color-blue-100: #f0f2fa;
   --color-blue-200: #010101;
   --color-blue-300: #4fb7dd;
   --color-violet-300: #5724ff;
   --color-Yellow-100: #8e983f;
   --color-Yellow-300: #edff66;
}
